
.dark-mode {   
    color: #FFFFFF;
    background-color: #000000;

  a {
      color: rgb(75, 186, 255) !important;
  }
  
  a:hover {
      color: #7a7976 !important;
  }
  .site-title, .site-title:visited, .site-nav, .page-link {
      color: #FFFFFF !important;
  }
  
  .site-nav {
      background-color: #FFFFFF;
      border-color: #000000;
  }
  
  * {
      scrollbar-color: #FFFFFF; 
  }
  
  pre, code {
      // BVas a lighter colour to better highlight short code words
      border-color: #5e5d5b;
      background-color:#82807a ;
  }
  
  .page-description {
      color: #FFFFFF
  }
  
  .post-meta {
      color: #000000;
  }
  
  .post-content p, .post-content li {
      color: #000000;
  }
  
  .btn {
      background-color: #FFFFFF !important;
      color: #000000 !important;
      border-color: #000000 !important;
  }
  
  .btn:hover {
      background-color: #7a7976 !important;
  }
  
  table th{
      background-color: #FFFFFF;
      border-color: #000000;
      color: #000000;
  }
  
  table td {
      background-color: #FFFFFF;
      border-color: #000000;
      color: #000000;
  }
  
  .flash {
      color: #5e5d5b !important;
      filter: brightness(80%);
  }
  
  canvas {
      background-color: #000000;
  }
  
  .post-list > li > div {
      box-shadow: none !important;
      background-color: #000000;
      border: none !important;
  }
  
  li .post-meta-description {
      color: #FFFFFF!important;
  }
  
  .search-result-preview{
      color: #FFFFFF !important; 
  }
  
  .search-result-highlight {
      color:yellow !important;
      font-weight:bold !important;
  }
  
  .search-results-list-item .search-result-title {
      color: cornflowerblue !important;
  }
  
  .startGame {
      color:#FFFFFF;
      background-color: #000000;
  }
  
  .leaderboard-button {
      color:#FFFFFF;
      background-color: #000000;
  }
  
  .input.userID {
      background: #000000;
  }
  
  .table.levels {
      background-color: #000000;
  }
  
  .sidebar {
      color:#000000;
      background-color: #FFFFFF;
  }
  .p {
      color: #000000;
  }
  .submenu {
      color: #000000;
      background-color: #FFFFFF;
  }
  
  .menu-icon {
      color: #5e5d5b;
  }
  .page-link {  
    color: #000000;
    background-color: #FFFFFF;
  }
  .trigger {
    background-color: #000000;
  }
}