
.dark-mode {  
    background-color: black;

    a {
        color: rgb(75, 186, 255);
    }
    
    a:hover {
        color: #7a7976;
    }
    .site-title, .site-title:visited, .site-nav, .page-link {
        color: #FFFFFF;
    }
    
    .site-nav {
        background-color: #000000;
        border-color: #FFFFFF;
    }
    
    * {
        scrollbar-color: #FFFFFF; 
    }
    
    pre, code {
        // BVas a lighter colour to better highlight short code words
        border-color: #FFFFFF;
        background-color:#000000 ;
    }
    
    .page-description {
        color: #FFFFFF
    }
    
    .post-meta {
        color: #FFFFFF;
    }
    
    .post-content p, .post-content li {
        color: #FFFFFF;
    }
    
    .btn {
        background-color: #000000;
        color: #FFFFFF;
        border-color: #FFFFFF;
    }
    
    .btn:hover {
        background-color: #7a7976;
    }
    
    table th{
        background-color: #000000;
        border-color: #FFFFFF;
        color: #FFFFFF;
    }
    
    table td{
        background-color: #000000;
        border-color: #FFFFFF;
        color: #FFFFFF;
    }
    
    .flash {
        color: #5e5d5b;
        filter: brightness(80%);
    }
    
    .post-list > li > div {
        box-shadow: none;
        background-color: #FFFFFF;
        border: none;
    }
    
    li .post-meta-description {
        color: #FFFFFF;
    }
    
    .search-result-preview{
        color: #FFFFFF; 
    }
    
    .search-result-highlight {
        color:yellow !important;
        font-weight:bold !important;
    }
    
    .search-results-list-item .search-result-title {
        color: cornflowerblue !important;
    }
    
    .button#startGame {
        color:#FFFFFF;
        background-color: #000000;
    }
    
    .leaderboard-button {
        color:#FFFFFF;
        background-color: #000000;
    }
    
    .input.userID {
        background: #000000;
    }
    
    .table.levels {
        background-color: #000000;
    }
    
    .sidebar {
        color:#000000;
        background-color: #FFFFFF;
    }
    .p {
        color: #FFFFFF;
    }
    
    .submenu {
        color: #FFFFFF;
        background-color: #000000
    }
    
    .menu-icon {
        color: #000000;
    }
    
    .div {
        color:#000000;
        background-color:#FFFFFF;
    }
    .container canvas {
        /* Reset styles for canvases within .container */
        background: none;
        /* Add any other styles you want to reset */
    }
}